{{ partial "head.html" . }}
{{ partial "header.html" . }}

<!-- Group the bills by status -->
{{ $pending := where (where .Site.RegularPages "Params.statuses" "intersect" (slice "Pending")) "Params.major" true }}
{{ $enacted := where (where .Site.RegularPages "Params.statuses" "intersect" (slice "Enacted")) "Params.major" true }}
{{ $failed := where (where .Site.RegularPages "Params.statuses" "intersect" (slice "Failed")) "Params.major" true }}

<h1 class="text-4xl font-bold mb-6">Major Bills</h1>

<!-- Pending Bills -->
{{ if $pending }}
<div class="my-4">
  <h2 class="text-3xl font-bold mb-4">🕒 Pending</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {{ range sort $pending "Params.statusSort" "asc" }}
    <div class="h-full">
      {{ partial "bill-card-small.html" . }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

<!-- Enacted Bills -->
{{ if $enacted }}
<div class="my-12">
  <h2 class="text-3xl font-bold mb-4">✅ Enacted</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {{ range sort $enacted "Params.statusSort" "asc" }}
    <div class="h-full">
      {{ partial "bill-card-small.html" . }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

<!-- Failed Bills -->
{{ if $failed }}
<div class="my-12">
  <h2 class="text-3xl font-bold mb-4">❌ Failed</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {{ range sort $failed "Params.statusSort" "asc" }}
    <div class="h-full">
      {{ partial "bill-card-small.html" . }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ partial "footer.html" . }}