<header class="bg-white shadow">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center py-6">
            <div class="flex-shrink-0">
                <a href="/"
                    class="text-3xl font-bold leading-tight text-gray-900 hover:text-gray-600 transition duration-150 ease-in-out">
                    YIMBYpedia
                </a>
                <p class="text-sm text-gray-600 italic">
                    A compendium of YIMBY legislative efforts.
                </p>
            </div>
            <nav class="flex">
                <a href="/contribute" class="text-lg text-gray-900 hover:text-gray-600 transition duration-150 ease-in-out mr-4">Contribute</a>
                <a href="/about" class="text-lg text-gray-900 hover:text-gray-600 transition duration-150 ease-in-out">About</a>
            </nav>
        </div>
    </div>
</header>
<main class="max-w-6xl sm:mx-auto px-4 py-8">