<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ if .IsHome }}YIMBYpedia | Home
        {{ else }}
        {{ with .Params.id }}
        YIMBYpedia | {{ . }}
        {{ else }}
        YIMBYpedia | {{ .Title }}
        {{ end }}
        {{ end }}
    </title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🏗️</text></svg>" />
</head>
<body class="bg-gray-50 text-gray-900 font-sans leading-normal flex flex-col min-h-screen">