{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div class="min-h-screen flex flex-col items-center">
    <a href="/" class="text-6xl font-bold text-gray-900 hover:text-blue-600 transition duration-300 ease-in-out">
        Page not found.
    </a>
    <p class="text-lg text-gray-700 mt-4">Sorry, we can't find the page you're looking for.</p>
    <a href="/" class="mt-6 py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded-lg shadow-md transition duration-300 ease-in-out">
        Go Home
        <div class="text-8xl font-bold mt-2">🏠</div>
    </a>
</div>

{{ partial "footer.html" . }}