{{ partial "head.html" . }}
<body class="bg-gray-50 text-gray-800 font-sans leading-normal flex flex-col min-h-screen">
    {{ partial "header.html" . }}
    <main class="max-w-4xl mx-auto px-4 py-8 flex-1">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden my-4 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-xl">
            <div class="px-6 py-4">
                <h1 class="text-4xl font-bold mb-2">{{ .Params.id }}</h1>
                <h2 class="text-2xl font-semibold text-gray-600 mb-4">{{ .Params.memTitle }}</h2>

                <p class="mb-4">
                    <span class="font-semibold">State:</span>
                    {{ range .Params.states }} {{ . }} {{ end }}
                </p>

                {{ with .Params.statuses }}
                {{ range . }}
                <p class="status mb-4">
                    <span class="font-semibold">Status:</span>
                    {{ if eq . "Pending" }}Pending 🕒
                    {{ else if eq . "Enacted" }}Enacted ✅
                    {{ else if eq . "Failed" }}Failed ❌
                    {{ else }}{{ . }}
                    {{ end }}
                </p>
                {{ end }}
                {{ end }}

                <p class="mb-4"><span class="font-semibold">Formal Title:</span> {{ .Params.formalTitle }}</p>

                {{ if .Params.inEffectDate }}
                <p class="mb-4">
                    <span class="font-semibold">In effect as of:</span>
                    {{ dateFormat "January 2, 2006" .Params.inEffectDate }}
                </p>
                {{ end }}

                <p class="mb-4"><span class="font-semibold">Summary:</span> {{ .Params.summary }}</p>

                <p class="mb-4">
                    <span class="font-semibold">Main sponsors:</span>
                    {{ range $index, $sponsor := .Params.sponsors }}
                    <a href="/sponsors/{{ $sponsor | urlize }}" class="text-blue-500 hover:text-blue-700 transition duration-150 ease-in-out">{{ $sponsor }}</a>{{ if ne (add $index 1) (len $.Params.sponsors) }}, {{ end }}
                    {{ end }}
                </p>

                <p class="mb-4">
                    <span class="font-semibold">Legislative text:</span>
                    <a href="{{ .Params.legislativeTextURI }}" target="_blank" class="text-blue-500 hover:text-blue-700 transition duration-150 ease-in-out">{{
                        .Params.legislativeTextURI }}</a>
                </p>

                {{ if .Params.relatedBills }}
                <p class="mb-4">
                    <span class="font-semibold">Related bills:</span>
                    {{ range $index, $relatedBill := .Params.relatedBills }}
                    <a href="/bills/{{ $relatedBill | urlize }}" class="text-blue-500 hover:text-blue-700 transition duration-150 ease-in-out">{{ $relatedBill }}</a>{{ if ne (add $index 1) (len $.Params.relatedBills) }}, {{ end }}
                    {{ end }}
                </p>
                {{ end }}
            </div>
        </div>
    </main>
    {{ partial "footer.html" . }}
</body>
</html>